<form action="/cats" method="POST">
  <label>Cat Name
    <input type="text" name="name" value="">
  </label>



  <h2>Owner</h2>
  <label>First Name
    <input type="text" name="fname" value="">
  </label>

  <label>Last Name
    <input type="text" name="lname" value="">
  </label>

  <input type="submit">
</form>
